body {
	margin: 0;
}

ul li {
	color: white;
	background-color: white;
	display: inline-block;
	list-style-type: none;
	padding: 5px 15px;
}

header {
	background: black;
	color: white;
	padding: 15px 15px 5px 15px;
}




ul li {
	color: white;
}

header h1 {
	margin: 0;
	display: inline;
}

nav ul{
	margin: 0;
	padding: 0 0 0 15px;
	display: inline;
}


.row {
	clear: both;	
}

.col {
	background: #333;
	border-radius: 5px;
	color: white;
	padding: 10px .5%;
	float: left;
	margin: .5%;
	width: 31%;

}

footer {
	clear: both;
}

h1 {
	color: #FFFFFF;
	display: inline-block;
	list-style-type: none;
	padding: 2px 5px 5px 5px;
	font-size: 200%;
}